* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    
}

body {
    font-size: 1.1em;
 
}

.fist {
    width: 100%;
    min-height: 25px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(207, 203, 203);
}
.bang>a>img{
    width: 370px;
}

.fist>ul {
    text-align: center;
}

marquee {
    color: rgb(248, 6, 6);
}

.fist ul li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}

.fist ul li a {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 25px;
}

/*đầu*/

.header {
    width: 100%;
    height: 90px;
    margin: 0 auto;
}
.sp>.logo>a>img{
    width: 5%;
    padding: 0 auto;
    margin: 0 auto;
}
.header>.sp>a>img {
    width: 50%;
    padding: 2 50px 0 40px;
    
}

.menu {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(62, 103, 179);

}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding-left: 50px;


}

.menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    line-height: 40px;
}

.menu ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: green;
    
}

.header .sp {
    line-height: 90px;
    text-align: center;
}

.header>.sp>a {
    float: left;
    padding-left: 50px;
}

.boxcenter {
    width: 70%;
    margin: 0 auto;
}

.slide {
    min-height: 250px;
}

/**/
.slide>a>img {
    width: 100%;
    border-radius: 10px;
}

.content {
    min-height: 220px;
    border-radius: 10px;
    border: 1px solid rgb(155, 154, 154);
}

.content>.noidung a>img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(2.5);
}

.tieude {
    width: 100%;
    min-height: 30px;
    float: left;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(218, 212, 212);
}

.tieude>a {
    text-decoration: none;
}

.mo {
    padding-right: 230px;
}

.tieude>ul>li {
    list-style: none;
    display: inline-block;
    padding-left: 4px;
    font-size: 0.7rem;
}

.tieude>ul>li>a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    line-height: 30px;
}

.tieude>ul>li>a:hover {
    color: red;
}

.tieude ul .mo {
    font-size: 1rem;
}
/*  */
.anh{
    width: 50%;
    height: 150px;
    float: left;
}
.noidung>.anh>a>img{
    width: 80%;
    margin: 10px;
}

.nd>a{
    text-decoration: none;
    color: rgb(53, 46, 58);
}
.nd>a:hover{
    color: orangered;

}
/*  */
.noidung {
    width: 25%;
    min-height: 195px;
    float: left;
}



.noidung>a {
    /* padding-top: 10px; */
    text-decoration: none;
    color: rgb(27, 39, 39);
}


.footer {
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.grid_row .grid_column-20{
    float: left;
    width: 25%;
    
}
.footer-list> li{
    list-style-type: none;
}
.footer-list> li> a{
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-size: 1rem;
    line-height: 30px;
    
}
.fot>ul>li{
    list-style: none;
    display: inline-block;
    padding-left: 15px  ;
}
.fot>ul>li>a{
    text-decoration: none;
    color: rgb(46, 45, 45);
}
.fot>ul>li>a:hover{
    color:rgb(191, 111, 58);
}
p {
    margin-top: 10px;
    font-size: 0.9rem;
}

.mb {
    margin-bottom: 10px;
}

.mr {
    margin-right: 10px;
}
